* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #96BDC6;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.container {
  width: 420px;
  margin: 0 auto;
}
.tile-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100;
}

.tile {
  width: 120px;
  height: 120px;
  padding-top: 30px;
  text-align: center;
  justify-content: center;
  align-items: center;

  border: 3px solid #2F3E46;
  background-color: #CEF7A0;
  margin: 4px;
  border-radius: 8px;

  font-size: 48px;
  font-weight: bold;
  cursor: pointer;
}

.tile:hover {
  background-color: #F49097;
}

.title-wrapper {
    font-size: 30px;
    background-color: #96BDC6;
    padding: 8px;
    border-radius: 8px;
}


.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 800px;
  height: 100px;
  margin: 8px auto;
  background-color: #CEF7A0;
}

.restart {
  width: 100px;
  height: 60px;
  background-color: cyan;
  font-weight: bold;
}

.restart:hover {
  background-color: #F49097;
}


.bottom-container {
  width: 100px;
  height: 100px;
}

.bottom-score {
  background-color: cyan;
  width: 100px;
  height: 60px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}


