*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
footer{
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #96BDC6; 
}
body{
   background-color: #f49097
}
.username{
    width: 130px;
    height: 50px;
    background-color: transparent;
    margin: 0px auto;
    border-radius: 20%;
    text-align: center;
    background-color: #2f3e4600;

}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 465px;
    height: 465px;
    margin: 0px auto;
    background-color: #2f3e4600;
  }

.mole {
    background-image: url('../pictures/mole.png');
    background-size: cover;
    background-position: center;
}
.articlescoreboard{
    border: 2px solid black;
    width: 600px;
    height: 300px;
    top: 600px;
    position: absolute;
    left: 630px;
    background-color: #2F3E46;
    font-family: monospace;
}
.scoreboard{
    background-color: #96BDC6;
}
.achtergrond{
    background-color: #96BDC6
}
.titel{
    font-size: 50px
}
.articlescoreboard{
    color: whitesmoke;
    text-align: center;
}
.start{
    height: 120px;
    width: 300px;
    position: relative;
    top: 190px;
    background-color: #CEF7A0;
}
.fotoslinks{
    position: absolute;
    left: 204px;
    top: 15px;
}
.fotosrechts{
    position: absolute;
    right: 204px;
    top: 15px;
    transform: scaleX(-1);
}
.eindwoorden{
    position: absolute;
    margin: 0;
    left: 620px;
    font-size: 90px;
    top: 190px;
}
.speelook{
    position: absolute;
    margin: 0;
    left: 730px;
    font-size: 90px;
    top: 520px;
}
.speelopnieuw{
    position: absolute;
    font-size: 50px;
    left: 700px;
    height: 70px;
    width: 500px;
    top: 380px;
    border-radius: 12px;
}
.speelopnieuw:hover{
    background-color: #CEF7A0
}